body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.pink {
    background-color: #d95980;
}

.green {
    background-color: #63aac0;
}

.orange {
    background-color: #f99b45;
}

.blue {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(42, 184, 42);
}



@media only screen and (min-width:320px) and (max-width:599px){
    .btn {
        margin: 1rem;
        height: 100px;
        width: 100px;
    }
}
@media only screen and (min-width:600px) and (max-width:1124px){
    .btn {
        margin: 2rem;
        height: 200px;
        width: 200px;
    }
}
