body {
    text-align: center;
    overflow: hidden;
}

.btn {
    height: 170px;
    width: 170px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.pink {
    background-color: #d95980;
}

.green {
    background-color: #63aac0;
}

.orange {
    background-color: #f99b45;
}

.blue {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(42, 184, 42);
}

#startBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: #3287db;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

#startBtn:hover {
    background-color: #0d83f8;
}



@media only screen and (min-width:320px) and (max-width:599px) {
    .btn {
        margin: 1rem;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (min-width:600px) and (max-width:1124px) {
    .btn {
        margin: 1rem;
        height: 170px;
        width: 170px;
    }
}